*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

header {
  text-align: center;
}

h1 {
  font-size: 2rem;
  padding: 2rem 2rem 2rem 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  z-index: 5;
}

nav input {
  position: relative;
  right: 3.4rem;
  visibility: hidden;
}

header,
main {
  width: 100vw;
  background-color: lightgray;
}

main {
  height: 100vh;
  font-size: 1.5rem;
  overflow: hidden;
}

form {
  margin: 5rem auto;
  background-color: gray;
  width: 70vw;
  padding: 3rem;
  height: 350px;
}

label:nth-of-type(1),
label:nth-of-type(2),
input[type="submit"] {
  display: block;
}

label,
input {
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 0.5rem;
}

input[type="submit"] {
  margin-top: 1rem;
  padding: 0.3rem 2rem;
}

#string-spliter {
  display: inline-block;
}

.radio-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"] {
  margin-left: 1rem;
  border: none;
}

.output {
  display: block;
  margin-top: 2rem;
}

.output p {
  padding: 0.7rem;
}

@media screen and (max-width: 350px) {
  form {
    width: 100vw;
  }
}
